.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(100vw / 12);
    display: flex;
    flex-direction: column;
}

.color-block {
    flex: 1;
    height: calc(100% / 5);
}
.color-1 {
    background: #4B8F8C;
    box-shadow: 0 0 5px #4B8F8C !important;
}

.color-2 {
    background: #2D232E;
    box-shadow: 0 0 5px #2D232E !important;
}

.color-3 {
    background: #F5DD90;
    box-shadow: 0 0 5px #F5DD90 !important;
}

.color-4 {
    background: #D3C1D2;
    box-shadow: 0 0 5px #D3C1D2 !important;
}

.color-5 {
    background: #FFE2FE;
    box-shadow: 0 0 5px #FFE2FE !important;
}

/*!* CSS for larger screens like iMac *!*/
/*@media (min-width: 1824px) {*/
/*    !* Adjustments for larger screens *!*/
/*    .main-content {*/
/*        margin: 25px;*/
/*    }*/
/*}*/
