.title {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.4em;

}
.menu {
    display: flex;
    background-color: #2D232E; /* Ajoute une couleur de fond au menu */
    margin: 20px;
}

.menu a {
    color: #FFE2FE; /* Change la couleur de chaque élément */
    text-decoration: none;
}


.menu a:hover {
    color: #FFC0FE; /* Change la couleur lorsqu'on survole l'élément */
}

.column {
    flex: 1;
    padding: 20px;
    position: relative;
}

.column:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10%;  /* Ajustez ces valeurs comme vous le souhaitez */
    bottom: 10%;
    width: 1px;
    background-color: #FFE2FE;
}


h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

/* Exemple de style supplémentaire pour les galeries ou les vidéos */
.video {
    margin-top: 10px;
}

