.main-content {
    /*position: absolute;*/
    right: 0;
    height: 100%;
    margin: 20px;
    font-family: 'Eina04-Light', sans-serif;
}

.main-content .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*padding-left: calc(100vw / 7); !* Remplacez margin-left par padding-left *!*/
}
