.main-content {
    /*position: absolute;*/
    /*right: 0;*/
    /*height: 100%;*/
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Eina04-Light', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align vertically in the center */
    align-items: center; /* Align horizontally in the center */
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align vertically in the center */
    align-items: center; /* Align horizontally in the center */
}

.scrollToTopButton {
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    background: #4f004f;
    color: #4f004f;
    z-index: 1000;
    font-size: 2em;
}



